<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="t20220049.sw_vision">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />


    <!--操作文件系统的权限-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEM"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />

    <application
        android:name=".transfer.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/vision"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/vision"
        android:supportsRtl="true"
        android:theme="@style/Theme.SWVision"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.TrackingActivity"
            android:exported="true" >
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <service
            android:name=".transfer.client.WifiClientService"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".VideoView" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter>&ndash;&gt; -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <service
            android:name=".utils.CameraService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".arm_controller.connect.BLEService"
            android:enabled="true" />

        <activity android:name=".arm_controller.BluetoothActivity"></activity>


        <activity
            android:name=".ui.CollectMatch"
            android:exported="false" />
        <activity
            android:name=".ui.ControlMatch"
            android:exported="true" />

        <activity
            android:name=".ui.HomePage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".transfer.SearchActivity"
            android:exported="true" />
        <activity
            android:name=".ui.ControlVideo"
            android:exported="true" />
        <activity
            android:name=".ui_utils.TimeShow"
            android:exported="true" />
        <activity
            android:name=".entrance.NodejsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.ReceiveFileActivity"
            android:exported="true" />
        <activity
            android:name=".ui.SendFileActivity"
            android:exported="true" />
        <activity
            android:name=".ui.CVActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>



        <activity
            android:name=".ui.ControlActivity"
            android:configChanges="orientation|smallestScreenSize|screenSize|screenLayout"
            android:launchMode="singleInstance"
            android:screenOrientation="fullUser"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".ui.CollectActivity"
            android:configChanges="orientation|smallestScreenSize|screenSize|screenLayout"
            android:launchMode="singleInstance"
            android:screenOrientation="fullUser"
            android:theme="@style/Theme.Design.NoActionBar" />

        <service
            android:name=".transfer.server.WifiServerService"
            android:exported="false" />
    </application>

</manifest>